<div class="bg-dark border-3 p-3">
    <div class="container">
        <footer class="footer">
            <div class="row g-0">
                <div class="col-10 col-md-6">
                    <div class="copyright text-start text-muted ms-3">
                        {{ today | date: "yyyy" }}
                        All rights reserved © 
                        <a
                            href="https://github.com/syfqpie"
                            class="font-weight-bold text-light"
                            target="_blank">
                            syfqpie
                        </a>
                    </div>
                </div>
    
                <div class="col-2 col-md-6">
                    <div class="copyright text-end me-3">
                        <a
                            href="https://github.com/syfqpie/kat-fact"
                            class="font-weight-bold ms-3 text-muted"
                            target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>