<div class="container py-5 vh-full">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-sm-12 col-md-4">
            <div class="card shadow-lg bg-light">
                <div class="card-body">
                    <p class="card-text text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                        luctus fringilla eros sed egestas. Vivamus sagittis, dolor non malesuada
                        pellentesque, risus velit lobortis dui, gravida mollis dui felis ut lectus.
                        Mauris non auctor risus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
