<nav class="navbar navbar-expand-lg bg-dark border-bottom border-dark navbar-dark border-3 px-3">
	<div class="container">
        <a class="navbar-brand" href="#">
          <img src="/assets/img/default/cool-cat.png" style="height: 3rem; width: auto">
          katFact
        </a>

        <ul class="navbar-nav mb-0 mb-lg-0 ms-auto">
			<li class="nav-item">
				<a 
					class="nav-link m-0 cursor-pointer" 
					[routerLink]="'/about'"
					[routerLinkActive]="['active']">
					About
				</a>
			</li>
		</ul>
    </div>
</nav>